{% load static %}

<!-- ##### Header Area Start ##### -->
<header class="header-area">
    <!-- Main Header Area -->
    <div class="main-header-area" id="stickyHeader">
        <div class="classy-nav-container breakpoint-off">
        <!-- Classy Menu -->
        <nav class="classy-navbar justify-content-between" id="southNav">

            <!-- Logo -->
            <a class="nav-brand" href="{% url 'index' %}"><img src="{% static 'img/core-img/logo.png' %}"></a>

            <!-- Navbar Toggler -->
            <div class="classy-navbar-toggler">
            <span class="navbarToggler"><span></span><span></span><span></span></span>
            </div>

            <!-- Menu -->
            <div class="classy-menu">

            <!-- close btn -->
            <div class="classycloseIcon">
                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
            </div>

            <!-- Nav Start -->
            {% include 'partials/_navbar.html' %}
            </div>
        </nav>
        </div>
    </div>
</header>
<!-- ##### Header Area End ##### -->