{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<br><br><br><br>

    <section id="showcase-inner" class="py-5 text-white">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                <h1 class="display-4">{{ single_listing.name }}</h1>
                <p class="lead">
                    <i class="fa fa-map-marker"></i> {{ single_listing.city }}, {{ single_listing.state }} - {{ single_listing.zipcode }}</p>
                </div>
            </div>
        </div>
    </section>
  <!-- Listing -->
  <section id="listing" class="py-4">
        <div class="container">
          <div class="row">
            <div class="col-md-9">
              <!-- Home Main Image -->
              <img src="{{ single_listing.photo_main.url }}" alt="" class="img-main img-fluid mb-3">
              <!-- Thumbnails -->
              <div class="row mb-5 thumbs">
                {% if single_listing.photo_1 %}
                <div class="col-md-2">
                  <a href="{{ single_listing.photo_1.url }}" data-lightbox="home-images">
                    <img src="{{ single_listing.photo_1.url }}" alt="" class="img-fluid">
                  </a>
                </div>
                {% endif %}
                {% if single_listing.photo_2 %}
                <div class="col-md-2">
                  <a href="{{ single_listing.photo_2.url }}" data-lightbox="home-images">
                    <img src="{{ single_listing.photo_2.url }}" alt="" class="img-fluid">
                  </a>
                </div>
                {% endif %}
                {% if single_listing.photo_3 %}
                <div class="col-md-2">
                  <a href="{{ single_listing.photo_3.url }}" data-lightbox="home-images">
                    <img src="{{ single_listing.photo_3.url }}" alt="" class="img-fluid">
                  </a>
                </div>
                {% endif %}
                {% if single_listing.photo_4 %}
                <div class="col-md-2">
                  <a href="{{ single_listing.photo_4.url }}" data-lightbox="home-images">
                    <img src="{{ single_listing.photo_4.url }}" alt="" class="img-fluid">
                  </a>
                </div>
                {% endif %}
                {% if single_listing.photo_5 %}
                <div class="col-md-2">
                  <a href="{{ single_listing.photo_5.url }}" data-lightbox="home-images">
                    <img src="{{ single_listing.photo_5.url }}" alt="" class="img-fluid">
                  </a>
                </div>
                {% endif %}
                {% if single_listing.photo_6 %}
                <div class="col-md-2">
                  <a href="{{ single_listing.photo_6.url }}" data-lightbox="home-images">
                    <img src="{{ single_listing.photo_6.url }}" alt="" class="img-fluid">
                  </a>
                </div>
                {% endif %}
              </div>
              <!-- Fields -->
              <div class="row mb-5 fields">
                <div class="col-md-6">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item text-secondary">
                      <i class="fa fa-rupee"></i> Asking Price:
                      <span class="float-right">Rs. {{ single_listing.price | intcomma }}</span>
                    </li>
                    <li class="list-group-item text-secondary">
                      <i class="fa fa-bed"></i> Bedrooms:
                      <span class="float-right">{{ single_listing.bedrooms }}</span>
                    </li>
                    <li class="list-group-item text-secondary">
                      <i class="fa fa-bath"></i> Bathrooms:
                      <span class="float-right">{{ single_listing.bathrooms }}</span>
                    </li>
                    <li class="list-group-item text-secondary">
                      <i class="fa fa-car"></i> Garage:
                      <span class="float-right">{{ single_listing.garage }}
                      </span>
                    </li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item text-secondary">
                      <i class="fa fa-th-large"></i> Square Feet:
                      <span class="float-right">{{ single_listing.sqft }}</span>
                    </li>
                    <li class="list-group-item text-secondary">
                      <i class="fa fa-square"></i> Lot Size:
                      <span class="float-right">{{ single_listing.lot_size }}
                      </span>
                    </li>
                    <li class="list-group-item text-secondary">
                      <i class="fa fa-calendar"></i> Listing Date:
                      <span class="float-right">{{ single_listing.posting_date }}</span>
                    </li>
                    <li class="list-group-item text-secondary">
                      <i class="fa fa-bed"></i> Seller:
                      <span class="float-right">{{ single_listing.account }}
                      </span>
                    </li>
    
    
                  </ul>
                </div>
              </div>
    
              <!-- Description -->
              <div class="row mb-5">
                <div class="col-md-12">{{ single_listing.description }}
                </div>
              </div>
            </div>
              {% if user.is_seller %}
                  <h2>UPDATE/DELETE buttons</h2>
              {% else %}
              <div class="col-md-3">
                <button class="btn-primary btn-block btn-lg" data-toggle="modal" data-target="#enquiryModal">Make An Enquiry</button>
              </div>
              {% endif %}
          </div>
        </div>
      </section>
    
  <!-- Enquiry Modal -->
  
  <div class="modal fade" id="enquiryModal" role="dialog" style="z-index:10000">
        <div class="modal-dialog">
                <br><br><br>
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="enquiryModalLabel">Make An Enquiry</h5>
              <button type="button" class="close" data-dismiss="modal">
                <span>&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="{% url 'contact' %}" method="POST">
                {% csrf_token %}
                {% if user.is_authenticated %}
                  <input type="hidden" name="user_id" value="{{ user.id }}">
                {% else %}
                <input type="hidden" name="user_id" value="0">
                {% endif %}
                <input type="hidden" name="seller_email" value="{{ single_listing.account.email }}">
                <input type="hidden" name="listing_id" value="{{ single_listing.id }}">
                <div class="form-group">
                  <label for="property_name" class="col-form-label">Property:</label>
                  <input type="text" name="listing" class="form-control" value="{{ single_listing.name }}" disabled>
                </div>
                <div class="form-group">
                  <label for="name" class="col-form-label">Name:</label>
                  <input type="text" name="name" class="form-control" 
                  {% if user.is_authenticated %}
                    value="{{ user.first_name }} {{ user.last_name }}"
                  {% endif %}
                  required>
                </div>
                <div class="form-group">
                  <label for="email" class="col-form-label">Email:</label>
                  <input type="email" name="email" class="form-control"
                  {% if user.is_authenticated %}
                    value="{{ user.email }}"
                  {% endif %}
                  required>
                </div>
                <div class="form-group">
                  <label for="phone" class="col-form-label">Phone:</label>
                  <input type="text" name="phone" class="form-control">
                </div>
                <div class="form-group">
                  <label for="message" class="col-form-label">Message:</label>
                  <textarea name="message" class="form-control"></textarea>
                </div>
                <hr>
                <input type="submit" value="Send" class="btn btn-block btn-primary">
              </form>
            </div>
          </div>
        </div>
      </div>
    
{% endblock %}