{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<br><br><br><br>


<section id="showcase-inner" class="showcase-search text-white py-5">
        <div class="container">
          <div class="row text-center">
            <div class="col-md-12">
              <form action="{% url 'search' %}" id="advanceSearch">
                <!-- Form Row 1 -->
                <div class="form-row">
                  <div class="col-md-4 mb-3">
                    <label class="sr-only">Keywords</label>
                    <input type="text" name="keywords" class="form-control" value="{{ values.keywords }}" placeholder="Keyword (Pool, Garage, etc)">
                  </div>
    
                  <div class="col-md-4 mb-3">
                    <label class="sr-only">City</label>
                    <input type="text" name="city" value="{{ values.city }}" class="form-control" placeholder="City">
                  </div>
    
                  <div class="col-md-4 mb-3">
                    <label class="sr-only">State</label>
                    <select name="state" class="form-control">
                      <option selected="true" disabled="disabled">All States</option>
                        {% for key, value in state_choices.items %}
                            <option value="{{ key }}"
                              {% if key == values.state %}
                                selected
                              {% endif %}
                            >{{ value }}</option>
                        {% endfor %}
                    </select>
                  </div>
                </div>
                <!-- Form Row 2 -->
                <div class="form-row">
                  <div class="col-md-12 mb-3">
                    <select name="price" class="form-control">
                      <option selected="true" disabled="disabled">Max Price</option>
                        {% for key, value in price_choices.items %}
                            <option value="{{ key }}"
                            {% if key == values.price %}
                              selected
                            {% endif %}
                            >{{ value }}</option>
                        {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="form-row">
                        <div class="col-md-6 mb-3">
                          <label class="sr-only">Bedrooms</label>
                          <select name="bedrooms" class="form-control">
                            <option selected="true" disabled="disabled">Max Bedrooms</option>
                              {% for key, value in bedroom_choices.items %}
                                  <option value="{{ key }}"
                                  {% if key == values.bedrooms %}
                                    selected
                                  {% endif %}
                                  >{{ value }}</option>
                              {% endfor %}
                          </select>
                        </div>
                        <div class="col-md-6 mb-3">
                                <label class="sr-only">Bedrooms</label>
                                <select name="bedrooms" class="form-control">
                                  <option selected="true" disabled="disabled">Max Bathrooms</option>
                                    {% for key, value in bathroom_choices.items %}
                                        <option value="{{ key }}"
                                          {% if key == values.bathrooms %}
                                            selected
                                          {% endif %}
                                        >{{ value }}</option>
                                    {% endfor %}
                                </select>
                        </div>
                    </div>
                <button class="btn btn-dark btn-block mt-4" type="submit">Submit form</button>
              </form>
            </div>
          </div>
        </div>
</section>

    
      <!-- Listings -->
      <section id="listings" class="py-4">
          <div class="container">
              <div class="row">
                  {% if listings %}
                  <div class="row row-eq-height">
                      {% for listing in listings %}
                          <div class="card single-featured-property mb-50 wow fadeInUp" data-wow-delay="100ms"s style="width:20rem;margin:20px 20px 20px 0">
                              <div class="property-thumb">
                                  <img class="card-img-top" src="{{ listing.photo_main.url }}" style="width:100%;">
                                  <div class="tag">
                                      <span>For Sale/Rent</span>
                                  </div>
                                  <div class="list-price">
                                      <p>Rs. {{ listing.price | intcomma }}</p>
                                  </div>
                              </div>
                              <div class="card-body">
                                  <h4 class="card-title">{{ listing.name }}</h4>
                                  <p><i class="fa fa-map-marker"></i> {{listing.city}}, {{listing.address}}, ({{listing.state}})</p>
                                  <p><i class="fa fa-th-large"></i> {{listing.sqft}} Square foot</p>
                                  <p><i class="fa fa-bed"></i> {{listing.bedrooms}} Bedrooms</p>
                                  <p><i class="fa fa-car"></i> {{listing.garage}} Garages</p>
                                  <p><i class="fa fa-bath"></i> {{listing.bathrooms}} Bathrooms</p>
                                  <p><i class="fa fa-user"></i> {{listing.account}}</p>
                                  <p class="card-text">{{ listing.description }}</p>
                                  <p class="col-6"><i class="fas fa-clock"></i> {{ listing.posting_date | timesince }}</p>
                              <div class="sale-notic"></div><a href="{% url 'listing' listing.id %}" class="btn btn-primary">MORE</a></div>
                          </div>
                      {% endfor %}
                  </div>
              {% else %}
          <div class="section-title text-center">
            <h3>No Listings</h3>
          </div>
        {% endif%}
              </div>
          </div>
      </section>
    

{% endblock %}